<!--
Filename: about.ejs
Group name: Xtreme Dynamos
Date: November 11, 2021
-->

<%- include('partials/header.ejs') %>
<%- include('partials/main_nav.ejs') %>

<!--Main content-->
<main class="container">
    <div  style="padding-top: 10px;">
        <p class="titles"><%= title %></p>

<!--Body of main-->
    <table>
        <tr>

            <!--About Me descriptive paragraph-->
            <td id="aboutMe" style="padding-right: 100px;">
                <p> &emsp; About us text here... <br>
                </p>
            </td>
        </tr>
    </table>
    </div>
</main>

<%- include('partials/bottom_nav.ejs') %>
<%- include('partials/footer.ejs') %>