<!--
Filename: statisticsSurvey.ejs
Group name: Xtreme Dynamos
Date: November 11, 2021
-->

<%- include('../partials/header.ejs') %>
<%- include('../partials/main_nav.ejs') %>

<!--Main Content -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <br><br><br>
                <div style="text-align: center;">
                        <p class="titles"><%= title %></p>
                </div>

            <!--Form Content-->
            <form method="POST" class="form">
                <!--Survey Name Field-->
                <div class="form-group">
                    <label class="surveyAdd" for="titleTextField">Survey Name</label>
                    <input type="text" class="form-control"
                    id="titleTextField"
                    placeholder="Enter the Survey's name"
                    name="title"
                    value="<%= surveyStatistic.title %>"
                    required>
                </div>

                <!--Number Field-->
                <div class="form-group">
                    <label class="surveyAdd" for="numberTextField">Survey Number</label>
                    <input type="text" class="form-control"
                    id="numberTextField"
                    placeholder="#"
                    name="number"
                    value="<%= surveyStatistic.number %>"
                    required>
                </div>

                <!--Description Field-->
                <div class="form-group">
                    <label class="surveyAdd" for="descriptionTextField">Description</label>
                    <input type="text" class="form-control"
                    id="descriptionTextField"
                    placeholder="Short description of the survey"
                    name="description"
                    value="<%= surveyStatistic.description %>"
                    required>
                </div>
              
                <br>
                <div style="text-align: center;">

                <!--Buttons-->
                    <button class="btn btn-success" type="submit">
                        <i class="fas fa-edit"></i> Export</button>
                </div>
            </form>
        </div>
    </div> 
</div>

<%- include('../partials/bottom_nav.ejs') %>
<%- include('../partials/footer.ejs') %>
